.separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.separator__article {
  max-width: 500px;
}
.separator__header {
  font-size: 48px;
  line-height: 62px;
  font-weight: normal;
  margin-top: 90px;
  text-align: center;
}
.separator__paragraph {
  font-family: Montserrat;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  margin-top: 40px;
}
.separator__image {
  margin-bottom: -200px;
}

@media (max-width: 767px) {
  .separator {
    margin-bottom: 0;
  }
  .separator__image {
    display: none;
  }
  .separator__header {
    margin-top: 70px;
  }
  .separator__header,
  .separator__paragraph {
    text-align: left;
  }
}
