@import "~react-image-gallery/styles/css/image-gallery.css";

.gallery {
  background-color: var(--main-first-color);
  position: relative;
  z-index: 0;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gallery__container {
  width: 45%;
  min-width: 500px;
  margin: 0 auto;
}
.gallery__header {
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  padding-top: 110px;
  padding-bottom: 60px;
  color: #fff;
  font-weight: normal;
  text-align: center;
}
.gallery__backgroundImg {
  position: absolute;
  max-width: 100%;
  z-index: -1;
}
.gallery__backgroundImg--right {
  top: 0;
  right: 0;
}
.gallery__backgroundImg--left {
  bottom: 0;
  left: 0;
}
.gallery__mobile--top {
  display: none;
}
.gallery__button {
  font-family: Montserrat;
  background: var(--main-second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  border: none;
  font-size: 18px;
  color: #fff;
  padding: 14px 54px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.gallery__button:hover {
  cursor: pointer;
  transition: filter 0.3s ease-in;
  filter: brightness(1.05);
}
.gallery__buttonIcon {
  width: 24px;
  margin-left: 8px;
  margin-bottom: 2px;
}
.gallery__spacer {
  margin: 60px 0 130px;
  display: inline-block;
}

@media (max-width: 1400px) {
  .gallery__header {
    padding-top: 140px;
    padding-bottom: 60px;
  }
  .gallery__container {
    width: 60%;
  }
  .gallery__spacer {
    margin: 60px 0 100px;
  }
}

@media (max-width: 1000px) {
  .gallery__backgroundImg--right {
    display: none;
  }
}

@media (max-width: 767px) {
  .gallery__backgroundImg--left {
    display: none;
  }
  .gallery__mobile--top {
    display: unset;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
  }
  .gallery__container {
    width: 100%;
    min-width: unset;
    margin: 0 auto;
    padding: 0px;
  }

  .gallery__header {
    text-align: left;
    padding-top: 150px;
    font-size: 42px;
    line-height: 54px;
  }
  .gallery__spacer {
    margin: 60px 0 90px;
  }
}
@media (max-width: 480px) {
  .gallery__mobile--top {
    width: 100%;
  }

  .gallery__header {
    padding-top: 120px;
  }
}
