body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Shadows Into Light Two", cursive;
  letter-spacing: 0.03em;
  max-width: 100vw;
}
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::selection {
  color: white;
  background: teal;
}

textarea {
  resize: vertical;
}

a {
  color: var(--main-first-color);
  text-decoration: none;
}

.mobile {
  display: none;
}

:root {
  --main-first-color: #f46948;
  --main-second-color: #9bc022;
}

@media (max-width: 767px) {
  .section {
    padding: 0 9vw;
    overflow-x: hidden;
  }
  .mobile {
    display: unset;
  }
}
